/*Body
=============*/

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #333;
    background-color: #fff;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

/*Container
=============*/

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*Header
=============*/

.header {
    width: 100%;
    height: 65px;
    padding: 25px 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 50px;
}

.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    background: #212021;
    animation: showElement;
    animation-duration: 1s;
}

@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

/*Nav
=============*/

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    position: relative;
    margin-left: 35px;
    color: #b5b6b5;
    text-decoration: none;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.nav_link:first-child {
    margin: 0;
}


.nav_link:hover {
   color: #ff3839;
}

[id]::before {
    content: '';
    display: block;
    height:      75px;
    margin-top: -75px;
    visibility: hidden;
}


/*Intro
=============*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 680px;
    padding-top: 10px;

    background: #212021;
}

.intro_inner {
    width: 100%;
    max-width: 750px;
    margin: auto;
}

.intro_items {
    margin-bottom: 30px;
}

.intro_myface {
    height: 150px;
    display:block;
    margin: auto;
}

.intro_title { 
    margin: 0 0 5px;

    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.intro_subtitle {
    font-size: 21px;
    color: #bdbebd;
    text-align: center;
}

/*Section
=============*/

.section {
    padding: 100px 0;
}

.section--resources {
    background: #212021;
    height: 680px;
    color: #fff;
}

.section--population {
    background: #ff3839;
    height: 820px;
    color: #fff;
}


.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 70px;
    text-align: center;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
}

.section_title::after {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    margin: 10px auto 0;

    background-color: #81839c;
}

/*Structure
=============*/

.structure{
    display: flex;
}

.structure_items {
    position: relative;
    margin: 10px auto 0;
}

.structure_photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;
    height: 190px;
}

.structure_text {
    font-size: 18px;
    margin-left: 350px;
}

/*Resources
=============*/

.resources {
    display: flex;
    flex-wrap: wrap;
}

.resources_items {
    width: 33,333333%;
    text-align: center;
    margin: 60px auto;
}

.resources_icon img{
    display: block;
    max-width: 100%;
    height: auto;
}

.resources_title {
    margin-bottom: 7px;

    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

.resources_text {
    font-size: 17px;
    color: #fff;
}

/*Population
=============*/

.population_items {
    display: flex;
    margin: 10px auto 0;
}

.population_text {
    font-size: 18px;
    margin-left: 300px;
    line-height: 1.4;
}

.population_text strong{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

/*Specialization
=============*/

.pspecialization_items {
    display: flex;
    margin: 10px auto 0;
}

.specialization_text {
    font-size: 18px;
    margin-left: 258px;
    line-height: 1.4;
}

/*Problem
=============*/

.problem_items {
    display: flex;
    margin: auto 0;
}

.problem_text {
    font-size: 18px;
    margin-left: 260px;
    line-height: 1.4;
}

.problem_text strong {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}


/*Burger
=============*/

.burger{
    display: none;
    padding: 9px 2;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger_items{
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger_items::before,
.burger_items::after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger_items::before {
    top: -8px;
}

.burger_items::after {
    bottom: -8px;
}



@media screen and (max-width: 991px){

    /*Structure*/

    .structure_text {
        font-size: 17px;
    }

    /*Resources*/

    .resources_text{
        font-size: 13px;
    }

    .problem_text {
        margin-left: 150px;
    }

    /*Resources*/

    .resources_text{
        font-size: 13px;
    }

    /*Population*/

    .population_text{
        font-size: 17px;
        margin-left: 160px;
    }

    .population_text strong{
        font-size: 17px;
    }

    /*Specialization*/

    .specialization_text {
        font-size: 17px;
        margin-left: 150px;
    }

    /*Problem*/

    .problem_text {
        font-size: 17px;
        margin-left: 46px;
    }

    .problem_text strong{
        font-size: 15px;
    }
}



@media screen and (max-width: 767px){

    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 100px;
    }


    /*Nav*/

    .nav{
        display: none;
    }

    .burger{
        display: block;
    }

    /*Structure*/

    .structure_text{
        margin-left: 330px;
        font-size: 15px;
    }

    /*Resources*/

    .resources_text{
        font-size: 11px;
    }
    
    .resources_items{
        width: 50%;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .resources_items:last-child{
        margin-top: 0px;
    }


    /*Population*/

    .population_text{
        font-size: 16px;
        margin-left: 50px;
    }

    .population_text strong{
        font-size: 16px;
    }

    /*Specialization*/

    .specialization_text {
        font-size: 16px;
        margin-left: 35px;
    }

    /*Problem*/

    .problem_text {
        font-size: 16px;
        margin-left: 40px;
    }

    .problem_text strong{
        font-size: 15px;
    }
}






